
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          AMOR LAB
            {%- if site.email -%}
            <!-- <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
            <!-- <li><a class="u-twitter" href="http://www.twitter.com/amor_lab"> -->
              <!-- <img src="/img/twitter_logo.png"> -->
              <!-- Twitter
            </a></li>
            <li><a class="u-github" href="http://www.github.com/Amor-Lab">
              Github -->
              <!-- <svg class="svg-icon black"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> -->
            <!-- </a></li> -->
            {%- endif -%}
        </ul>
      </div>

      

      <div class="footer-col footer-col-3">
        <p>
        McClintock Building <br>
        Cold Spring Harbor Laboratory <br>
        Cold Spring Harbor, NY 11724
        </p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
        <!-- {%- include social.html -%} -->
        <li><a class="u-twitter" href="http://www.twitter.com/amor_lab">
          <!-- <img src="/img/twitter_logo.png"> -->
          Twitter
        </a></li>
        <li><a class="u-github" href="http://www.github.com/Amor-Lab">
          Github
          <!-- <svg class="svg-icon black"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> -->
        </a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
