<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <script src="https://kit.fontawesome.com/dded0ae251.js" crossorigin="anonymous"></script>
  <script src="../assets/javascript/bootstrap/jquery.min.js"></script>
  <script src="../assets/javascript/bootstrap/bootstrap.bundle.min.js"></script>

  <body>

    {%- include header.html -%}

    <div class="mx-5">
      <div class="container-fluid">
          {{ content }}
      </div>
    </div>
    {%- include footer.html -%}

  </body>

</html>
